<div class="p-grid">
    <div class="p-col-3">
        <p-card header="Welcome">
            <span *ngIf="user?.name[0].prefix?.length>0">{{user?.name[0].prefix[0]}}</span> {{user?.name[0].given[0]}} {{user?.name[0].family}}

            <div>
                <p>Notes for patient:</p>
                <ul>
                    <li>{{patient?.name[0].family}}, {{patient?.name[0].given[0]}}</li>
                </ul>             
            </div>
        </p-card>
    </div>
    <div class="p-col-9">
        <p-card header="Notes">
            <div class="p-grid">
                <div class="p-col-9">
                    <p>Patient Notes:</p>                
                </div>
                <div class="p-col-3">
                    <button pButton label="Add" (click)="addNote()"></button> 
                </div>
            </div>

            <p-table [value]="notes">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Id</th>
                        <th>Type</th>
                        <th>Updated</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-note>
                    <tr>
                        <td><a [routerLink]="['/clinical-note', note.id]">{{note.id}}</a></td>
                        <td>{{note.type.text}}</td>
                        <td>{{note.meta.lastUpdated | date : 'M/d/yyyy'}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </p-card>        
    </div>
</div>
